/*AQUI ESTABA BIEN Y NORMAL */

.section {
    padding-top: 10%;
    position: fixed;
    width: 80%;
    height: 97%;
    right: 0;
    top: 10%;
    background: #fff;
}

.cajaPrincipal {
    position: absolute;
    width: 96%;
    height: 90%;
    margin: auto;
    top: 2%;
    left: 2%;
    background-color: rgb(223, 230, 252);
    /* Shadow */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    overflow-y: scroll;
}

.vistas {
    position: absolute;
    top: 200px;
    width: 100%;
    height: 100px;
}

.prueba2 {
    width: 80%;
    height: 10%;
    position: fixed;
    top: 10%;
    right: 0;
    background-color: rgb(230, 0, 0);
}

.marco {
    /* Rectangle 20 */
    position: absolute;
    width: 1096.05px;
    height: 480px;
    left: 270px;
    top: 66px;
    background: #FBFCFF;
    border: 1px solid rgba(255, 255, 255, 0.38);
    box-sizing: border-box;
}

.prueba2 {
    width: 80%;
    height: 10%;
    position: fixed;
    top: 10%;
    right: 0;
    background-color: rgb(230, 0, 0);
}

.marco {
    /* Rectangle 20 */
    position: absolute;
    width: 1000px;
    height: 550px;
    left: 384px;
    top: 114px;
    background: #FBFCFF;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
}

.vistas {
    width: 60%;
    height: 40%;
    margin-top: 10px;
    top: 100%;
    font-size: x-large;
    margin-left: 50px;
}

.editar {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    float: right;
    clear: left;
    margin-top: -20px;
    margin-right: 40px;
}

#ed {
    box-sizing: border-box;
    margin-bottom: 10px;
}

.edi {
    clear: left;
}

.seccion h2 {
    margin-top: 30px;
    text-align: center;
}

.seccion {
    background: rgb(255, 255, 255);
}

.circulo {
    /* justify-content: center;
	align-items: center;*/
    width: 150px;
    height: 150px;
    background: blue;
    border-radius: 100%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar-est {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid black;
}

.marco.seccion.vista {
    /* Nombre completo: Fern Gonzales */
    width: 638px;
    height: 66px;
    left: 349px;
    top: 492px;
    font-family: Chenla;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    color: #000000;
}

.marco2 {
    /* Rectangle 20 */
    position: absolute;
    width: 1000px;
    height: 550px;
    left: 384px;
    top: 114px;
    ;
    background: #FBFCFF;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
}

.seccion2 h2 {
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
}

.asignaturas {
    /* Rectangle 19 */
    position: absolute;
    width: 720px;
    height: 200px;
    left: 80px;
    top: 100px;
    padding: 5px;
    background: #FBFCFF;
    box-sizing: border-box;
}

#asignatura {
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    margin-bottom: 30px;
}

a {
    color: black;
}


/*

.asignatura2{
	border: 1px solid rgba(0, 0, 0, 0.38);
	box-sizing: border-box;
}

.asignatura3{
	border: 1px solid rgba(0, 0, 0, 0.38);
	box-sizing: border-box;
}

.asignatura4{
	border: 1px solid rgba(0, 0, 0, 0.38);
	box-sizing: border-box;
}

.asignatura5{
	border: 1px solid rgba(0, 0, 0, 0.38);
	box-sizing: border-box;
}
*/

.marco3 {
    /* Rectangle 20 */
    position: absolute;
    width: 1000px;
    height: 550px;
    left: 384px;
    top: 114px;
    background: #FBFCFF;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
}

.seccion3 h2 {
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
}

.marco4 {
    /* Rectangle 20 */
    position: absolute;
    width: 1000px;
    height: 550px;
    left: 384px;
    top: 114px;
    background: #FBFCFF;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
}

#boton {
    position: absolute;
    width: 200px;
    height: 60px;
    float: right;
    text-align: center;
    margin-top: -140px;
    top: 350px;
    margin-left: 450px;
    background: #FBFCFF;
    border-radius: 30px;
}

#matr {
    text-align: center;
    margin-top: -180px;
    top: 350px;
    margin-left: 310px;
    color: #FBFCFF;
    ;
}

#boton h3 {
    font-size: 20px;
    text-shadow: rgb(230, 0, 0);
    margin-top: 10px;
}

.seccion4 h2 {
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
}

.matricula {
    width: 780px;
    height: 250px;
    background: blue;
    border-color: 2x black;
    margin-left: 50px;
    margin-top: 20px;
}

.matricula>.inscripcion {
    width: 100%;
    height: 100%;
}

.noti {
    margin-left: 50px;
    margin-top: 5px;
}

.marco5 {
    /* Rectangle 20 */
    position: absolute;
    width: 1000px;
    height: 550px;
    left: 384px;
    top: 114px;
    background: #FBFCFF;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
}

.seccion5 h2 {
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
}

#act {
    width: 790px;
    height: 90px;
    box-sizing: border-box;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    margin-bottom: 30px;
}

.descarga {
    width: 20px;
    height: 20px;
    margin-top: -50px;
    margin-right: 10px;
    float: right;
}

.acti {
    width: 80%;
    height: 40%;
    margin-top: 30px;
    top: 100%;
    font-size: x-large;
    margin-left: 50px;
}

#calif {
    float: right;
}

.marco6 {
    /* Rectangle 20 */
    position: absolute;
    width: 900px;
    height: 550px;
    left: 384px;
    top: 114px;
    background: #FBFCFF;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
}

.seccion6 h2 {
    text-align: left;
    margin-left: 80px;
    margin-top: 20px;
}

.marco7 {
    /* Rectangle 20 */
    position: absolute;
    width: 1000px;
    height: 550px;
    left: 384px;
    top: 114px;
    background: #FBFCFF;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
}

.seccion7 h2 {
    text-align: left;
    margin-left: 60px;
    margin-top: 20px;
}

.lista-tutor {
    /* Rectangle 19 */
    position: absolute;
    width: 760px;
    height: 200px;
    left: 80px;
    top: 200px;
    padding: 5px;
    background: #3164F4;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100px 100pxrepeat(2, 1fr);
    grid-template-rows: 100px 100pxrepeat(2, 1fr);
    grid-gap: 10px;
}

#profe {
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    margin-bottom: 30px;
    background: #3164F4;
    clear: both;
}

#profe1 {
    grid-column: 1 / 3;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    float: left;
}

#profe2 {
    grid-column: 3 / 5;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
}

#profe3 {
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    float: none;
    clear: left;
    margin-bottom: 30px;
    grid-column: 1 / 3;
}

#profe4 {
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    margin-bottom: 30px;
    grid-column: 3 / 5;
    float: right;
}

.franja {
    /* Rectangle 19 */
    position: absolute;
    width: 360px;
    height: 200px;
    left: 80px;
    top: 350px;
    padding: 5px;
    background: #FBFCFF;
    box-sizing: border-box;
}

.seleccion {
    margin-left: 60px;
}

.descripcion {
    padding: 20px;
    width: 880px;
    height: 290px;
    margin-left: 60px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    overflow: scroll;
}